/* Estilos para la pagina Developers */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --font: 'Poppins', sans-serif;

    --color: #fe9900;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
}

.swiper{
    width: 100%;
}

.swiper-wrapper{
    width: 100%;
    height: 35em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 14em;
    height: 80%;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0,0,0,.2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_1{
    width: 14em;
    height: 80%;
    background: rgb(254,153,0);
    background: linear-gradient(135deg, rgba(254,153,0,1) 0%, rgba(254,101,0,1) 100%);
    border-radius: 2em;
    box-shadow: 0 0 2em rgba(0,0,0,.2);
    padding: 2em 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_image{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid var(--color);
    padding: 3px;
    margin-bottom: 2em;
}

.card_image_1{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    border: 5px solid #003971;
    padding: 3px;
    margin-bottom: 2em;
}

.card_image img,
.card_image_1 img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.card_content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_title{
    font-size: 1.2rem;
    font-weight: 500;
    position: relative;
    top: .1em;
    color: #fff;
}

.card_name{
    color: #40ffe6;
    font-weight: 500;
}

.card_name_1{
    color: #003971;
    font-weight: 500;
}

.card_text{
    text-align: center;
    font-size: 1.1rem;
    margin: 1em 0;
    color: #fff;
}