@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #cfcfcf;
}

header {
    background: rgb(70,251,255);
    background: linear-gradient(260deg, rgba(70,251,255,1) 0%, rgba(0,144,178,1) 100%);
}

nav {
    height: 85px;
    display: flex;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.title {
    padding-left: 40px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titles {
    flex-direction: column;
    height: 120px;
}

.title .lab {
    font-size: 35px;
    width: 700px;
    height: 35px;
    color: white;
    font-style: italic;
}


.items {
    display: flex;
    align-items: center;
    padding-right: 40px;
}

li {
    list-style: none;
}

.item {
    font-weight: 300;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 0 29px 0;
}

.buttom {
    background: rgb(254,153,0);
    background: linear-gradient(135deg, rgba(254,153,0,1) 0%, rgba(254,101,0,1) 100%);
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 600;
    margin-left: 19px;
    transition: background-color .2s;
    cursor: pointer;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

button:hover {
    background: #fe6500;
}

.buttom-active {
    background-color: #0a7391;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    font-weight: 500;
    margin-left: 19px;
    transition: background-color .5s;
}

.buttom-item {
    text-decoration: none;
    color: #ffffff;
}

button i {
    margin-right: 5px;
    
}

footer {
    height: 80px;
    width: 100vw;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(70,251,255);
    background: linear-gradient(90deg, rgba(70,251,255,1) 41%, rgba(0,144,178,1) 100%);
    position: fixed;
    bottom: 0;
    margin-top: 100px;
}

.div-footer {
    padding-left: 40px;
    text-decoration: none;
    color: #015167;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    background-image: url(../images/fondo1.jpg);
    color: #3f3f3f;
}

.identify {
    display: flex;
    justify-content: center;
}

.identify h2{
    font-size: 30px;
}

.form-register {
    width: 800px;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    padding: 30px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
    color: #035E73;
}

.controls {
    width: 228px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #2a9cc1;
    font-size: 15px;
    color: #015167;
    transition: .3s ease all;
}

.controls:focus {
    border: 2px solid #015167;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.form-register p,
.form-login p {
    height: 40px;
    text-align: center;
    font-size: 15px;
}

.form-register a,
.form-login a {
    color: #ffffff;
    text-decoration: none;
    transition: color .5s;
}

.form-register a:hover,
.form-login a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.button-submit,
.button-submit,
.button-delete,
.button-delete {
    border: none;
    outline: none;
    height: 40px;
    margin-top: 10px;
    background: rgb(254,153,0);
    background: linear-gradient(135deg, rgba(254,153,0,1) 0%, rgba(254,101,0,1) 100%);
    color: #ffffff;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    transition: background .2s;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
    font-weight: 600;
}

.button-submit:hover,
.button-submit:hover,
.button-delete:hover,
.button-delete:hover {
    background: #fe6500;
}

.quest-security {
	border: none;
    border-bottom: 1px solid #26A3BF;
    background-color: transparent;
    outline: none;
    height: 40px;
    color: #0D0D0D;
    font-size: 16px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}

.form-register .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}

label {
    display: block;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    color:#026b88;
}

p .form-input-error {
    font-size: 12px;
    margin-bottom: 10px;
    color: #ffa6ab;
    line-height: 0.1;
}

.button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-login {
    width: 272px;
    background-color: #eeeeee;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px;
}

.form-register h6 {
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
}

.display {
    width: 1150px;
    background-color: #eeeeee;
    padding: 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px;
}

.add,
.return {
    display: flex;
    justify-content:flex-start;
}

.buttom-add {
    background-color: #F2F2F2;
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    transition: background-color .5s;
    cursor: pointer;
}

.identify-add h2{
    font-size: 30px;
    margin-top: 0px;
}

form .form-group-input {
    position: relative;
}

.form-input-error {
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    display: none;
    font-weight: 300;
    color: #ffffff;
}

.form-input-error-active {
    display: block;
}

.formulario_validacion_estado {
    opacity: 0;
}

.form-mess {
    height: 30px;
    line-height: 30px;
    background: #ffa6ab;
    padding: 0 15px;
    border-radius: 5px;
    display: none;
}

.form-mess-active {
    display: block;
}

.form-mess p {
    font-size: 15px;
    margin: 0;
    color: #F2F2F2;
    line-height: 1.0;
}

.form-mess-good {
    height: 30px;
    line-height: 30px;
    background: #0F7CBF;
    padding: 0 15px;
    border-radius: 5px;
    margin: 0;
    color: white;
    font-size: 15px;
    display: none;
}

.form-mess-good-active {
    display: block;
}

.form-group-good .formulario_validacion_estado {
    color: #0F7CBF;
    opacity: 1;
}

.form-group-error .formulario_validacion_estado {
    color: #ffa6ab;
    opacity: 1;
}

.login-register {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: url(../images/new_bg.jpg) no-repeat center top fixed;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.register-box {
    width: 1000px;
    height: 1000px;
    border-radius: 5px;
    background: #F2F2F2;
    color: #035E73;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 20px 30px;
}

.login-box {
    width: 300px;
    height: 415px;
    border-radius: 10px;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    color: #035E73;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

.login-box-rcvr {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    color: #035E73;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

.login-box-quest {
    width: 300px;
    height: 470px;
    border-radius: 10px;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    color: #035E73;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

.login-box-pass {
    width: 600px;
    height: 350px;
    border-radius: 10px;
    background: rgb(0,127,164);
    background: linear-gradient(135deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
    color: #035E73;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 30px 30px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

.login-box .avatar,
.register-box .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.login-box h1,
.login-box-rcvr h1,
.login-box-quest h1,
.login-box-pass h1,
.form-register h1{
    margin: 0;
    padding: 0 0 10px;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    color: #F2F2F2;
}
.form-register h2 {
    margin: 0;
    padding: 20px 0 10px 0;
    text-align: center;
    font-size: 16px;
    color: rgba(254,153,0,1);
    font-weight: 600;
}

.form-register h4,
.login-box-pass h4{
    margin: 0;
    padding: 10px 0 5px 0;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #fbff00;
  }

.login-box label,
.login-box-rcvr label,
.login-box-quest label,
.login-box-pass label,
.form-register label {
    margin: 0;
    padding: 0;
    font-weight: 600;
    display: block;
    margin-top: 10px;
    color:#b3ffff;
}

.login-box input,
.login-box-rcvr input,
.login-box-quest input,
.login-box-pass input,
.form-register input {
    width: 230px;
    margin-bottom: 10px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box-rcvr input[type="text"],
.login-box-quest input[type="text"],
.login-box-pass input[type="password"],
.form-register input[type="text"],
.form-register input[type="password"],
.form-register input[type="email"],
.form-register input[type="tel"],
.form-register input[type="date"],
.form-register select {
    border: none;
    border-bottom: 3px solid rgba(254,101,0,1);
    background-color: #F2F2F2;
    outline: none;
    height: 40px;
    color: #0D0D0D;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 2px rgba(0, 21, 49, 0.2);
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:#b3ffff;
    transition: color .5s; 
}

.login-box a:hover {
    color: #ffffff;
}

.form-register input[type="radio"] {
    display: none;
}

.form-register .radio label {
    color: #ffffff;
    background: rgba(0, 0, 0, 0);
    padding: 5px 15px 5px 51px;
    display: inline-block;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.form-register .radio label:hover {
    background: rgba(216, 248, 255, 0.2);
}

.form-register .radio label:before {
    content: "";
    width: 17px;
    height: 17px;
    display: inline-block;
    background: none;
    border: 3px solid #ffffff;
    border-radius: 50%;
    position: absolute;
    left: 17px;
    bottom: 2.5px;
}

.form-register .checkbox label:before{
    border-radius: 3px;
}

.form-register input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: #fe6500;
    border-radius: 5px;
    color: #ffffff;
}

.form-register input[type="radio"]:checked + label:before {
    display: none;
}

body::-webkit-scrollbar{
    width: 15px;
  }
  
body::-webkit-scrollbar-thumb{
  background: rgb(9,175,203);
  background: linear-gradient(180deg, rgba(9,175,203,1) 0%, rgba(0,122,151,1) 100%);
  border-radius: 50px;
}
  
body::-webkit-scrollbar-thumb:hover{
  background: rgb(0,127,164);
  background: linear-gradient(180deg, rgba(0,127,164,1) 0%, rgba(0,57,113,1) 100%);
}